@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik'
    
}

body{
    width: 100vw;
    height: 100vh;
    background: #E5E5E5;

}

.cabecario {
   
    width: 1280px;
    height: 108px;
    margin-left: 72px;
   
    background-color: #FFFFFF;

}

.cabecario img {
    width: 153.99px;
    height: 38px;
    margin-top: 35px;
    margin-bottom: 46px;
    margin-left: 72px;
    
}

.text h1 {
    font-family: "rubik";
    font-weight: 400;
    font-size: 16px ;
    margin-left: 360px;
    margin-top: -80px;
    margin-bottom: 56px;
    color: #4C5D73;
  
}

.text h2{
    font-family: "rubik";
    font-weight: 400;
    font-size: 16px ;
    margin-left: 475px;
    margin-top: -75px;
   
    color: #4C5D73;
    
}

.text h3{
    font-family: "rubik";
    font-weight: 400;
    font-size: 16px ;
    margin-left: 579px;
    margin-top: 56px;
    color: #4C5D73;
    
}

.text h4{
    font-family: "rubik";
    font-weight: 400;
    font-size: 16px ;
    margin-left: 681px;
    margin-top: -19px;
    color: #4C5D73;
    
}

.text h5{
    font-family: "rubik";
    font-weight: 400;
    font-size: 16px ;
    margin-left: 772px;
    margin-top: -19px;
    color: #4C5D73; 
}

.text h6{
    width: 96px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 938px;
    margin-top: -50px;
    color: #304F8C;
    
}

.cabecario button {
display: flex;
align-items: center;
justify-content: center;
width: 150px;
height: 44px;
border: 0.8px solid #304F8C;
border-radius: 8px;
margin-left: 1058px;
margin-top: -35px;
background:#FFFFFF;
font-size: 16px;
font-family: "rabik medium";
color: #304F8C;
font-weight: 800;


}


.C1 {
  
    width: 1280px;
    height: 415px;
    margin-top: -70px;
    margin-left: 72px;
    border-radius: 0 0 10px 10px ;
    background-color: #FFFFFF;   

 

}


.T1 h1 {
    width: 532px;
    height: 112px;
   font-size: 45px;
   font-family: "rabik bold";
   font-weight: 700;
   margin-top: 70px;
   margin-left: 72px;
  

   
}

.T1 h2{
   
    width: 527px;
    height: 48px;
    margin-top: 16px;
    margin-left: 72px;
    font-size: 16px;
    font-family: "rubik regular ";
    font-weight: 400;
    color: #4C5D73;

   
}


.T1 button {
   
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin-top: -50px ;
    margin-left: 72px;
    background-color: #304F8C;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border: none;

}

.T1 img {
   
    width: 432px;
    height: 349px;
    margin-top: -180px;
    margin-left: 450px;
    
}


.T2 {
    width: 1280px;
    height: 124px;
    margin-top: 55px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;

}

.T2 #img1 {
    width: 59px;
    height: 59px;
    margin-top: 32px;
    margin-bottom: 33px;
    margin-left: 87px;
    
  
}

.T2 h1{
    width: 68px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    color: #111826;
    margin-top: -65px;
    margin-left: 65px;
   
}

.T2 h2{
    display: flex;
    width: 71px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 65px;
    color: #4C5D73;
    
}

.T2 #img2 {
    width: 164px;
    height: 59px;
    margin-top: -95px;
    margin-bottom: 33px;
    margin-left: 332px;
  
  
}

.T2 h3{
    width: 68px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    color: #111826;
    margin-top: -65px;
    margin-left: 65px;
   
}

.T2 h4{
    display: flex;
    width: 71px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 65px;
    color: #4C5D73;
    
}
.T2 #img3 {
    width: 190px;
    height: 59px;
    margin-top: -95px;
    margin-bottom: 33px;
    margin-left: 582px;
   
  
}

.T2 h5{
    width: 92px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    color: #111826;
    margin-top: -65px;
    margin-left: 65px;
    
}

.T2 h6{
    display: flex;
    width: 122px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 65px;
    margin-top: -1px;
    color: #4C5D73;
    
}

.T2 #img4 {
    width: 180px;
    height: 59px;
    margin-top: -95px;
    margin-bottom: 33px;
    margin-left: 868px;
   
}

.T2 h7{
    width: 92px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    color: #111826;
    margin-top: -65px;
    margin-left: 65px;
 
}

.T2 h8{
    display: flex;
    width: 122px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 65px;
    margin-top: -1px;
    color: #4C5D73;
    
}


.C2{
   
    width: 1280px;
    height: 424px;
  background-color: #E5E5E5;;
   
    
    
}

.C2 h1{
    width: 88px;
    height: 56px;
    font-size: 16px;
    font-weight: 400 ;
    margin-left: 43px ;
    margin-top: 69px;
}

.C2 h2 {
    width: 826px;
    height: 80px;
    font-size: 32px;
    font-weight: 500 ;
    margin-left: 43px ;
    margin-top: -25px;
    
}

.quadrado1{
    width: 268px;
    height: 208px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 48px;
    margin-left: 50px;
    
}

.T3{
    width: 1280px;
    height: 208px;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.quadrado{
    width: 268px;
    height: 208px;
    border-radius: 10px;
    background-color: #FFFFFF;  
    margin-left: 21px;
    
}

.T3 #img1 {
    width: 59px;
    height: 59px;
    margin-top: 20px;

    margin-left: 24px;
    
  
}

.T3 h1{
    width: 163px;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
    color: #4C5D73;
    margin-top: 20px;
    margin-left: 2px;

    
}

.T3 h2{
    width: 209px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    color: #4C5D73;
    margin-top: -5px;
    margin-left: 2px;
  
}



.T3 #img2 {
    width: 59px;
    height: 59px;
    margin-top: 20px;
    margin-left: 24px;
    
  
}

.T3 h3{
    width: 172px;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 2px;

    color: #4C5D73;
    
}


.T3 h4{
    width: 213px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    color: #4C5D73;
    margin-top: -5px;
    margin-left: 2px;
}


.T3 #img3 {
    width: 59px;
    height: 59px;
    margin-top: 20px;
    margin-left: 24px;
  
}

.T3 h5{
    width: 157px;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
    color: #4C5D73;
    margin-top: 20px;
    margin-left: 2px;

  
}


.T3 h6{
    width: 209px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    color: #4C5D73;
    margin-top: -5px;
    margin-left: 2px;
  
    
}


.T3 #img4 {
    width: 59px;
    height: 59px;
    margin-top: 20px;
    margin-left: 24px;
  
}

.T3 h7{
    width: 203px;
    height: 30px;
    text-align: end;
    font-size: 17px;
    font-weight: 700;
    display: block;
    color: #4C5D73;
   
}


.T3 h8{
    width: 220px;
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
    margin-left: 2px;
    color: #4C5D73;
    
}

.C3 {
    width: 1165.12px;
    height: 777.27px;
    margin-top: 54px;
   background:#E5E5E5 ;
   
}


.C3 h1 {
    width: 101px;
    height: 56px;
    display: flex;
    align-items: center;
    margin-left:111.12px;
    font-size: 16px;
    font-weight: 400;
    color: #4C5D73;
    
}

.C3 h2{
    width: 586px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left:111.12px;
    font-size: 32px;
    font-weight:500;
    color: #111826;
    
}

.C3 img{
    width: 523.89px ;
    height: 604.38px;
    margin-left: 75.78px;
}

.Bl2{
    width: 676px ;
    height: 278px; 
    margin-left: 570px;
    margin-top: -420px;
   
   
}
.C3 h3 {
    width: 676px ;
    height: 48px;
    font-size: 16px;
    font-weight: 400 ;
     
    color: #4C5D73;
   
}

.C3 h4,h5{
    width: 676px ;
    height: 48px;
    font-size: 16px;
    font-weight: 400 ;
    margin-top: 25px; 
    color: #4C5D73;
   
}
.C3 h5 img {
    width: 18px ;
    height: 18px;
    margin-left: 5px;
    margin-top: 10px;
   
}

.C3 button{
    width: 214px ;
    height: 48px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 35px;
    color: #304F8C;
    border: 1px solid #304F8C;
}
.C3 button img{
    width: 19px ;
    height: 10.01px;
    margin-left: 5px;
    
    
}

.T4{
   
    width: 1280px;
    height: 424px;
    margin-top: 89px;
    margin-left: 72px;
    
}
   


.T4 h5 {
    width: 82px;
    height: 56px;
    font-size: 16px;
    font-weight: 400 ;
    margin-left: 35px ;

    
}

.T4 h6 {
    width: 826px;
    height: 80px;
    font-size: 32px;
    font-weight: 500 ;
    margin-left: 43px ;
    
}


.atuacao-quad{
    width: 1280px;
    height: 208px;
    border-radius: 10px;
    margin-top:30px ;
    margin-left: 10px;
    display: inline-flex;
    
    
}

.quad{
    width: 268px;
    height: 208px;
    margin-left: 21px;
    border-radius: 10px;
    background-color: #FFFFFF;
   
}
.quad img{
    width: 105px;
    height: 105px;
    margin-top: 26px;
    margin-left: 81px;
}

.quad h1{
    width: 116px;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 95px;
    color: #111826;
}


.quad h2{
    width: 116px;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 80px;
}


.T5{
   
    width: 1135px;
    height: 454px;
    margin-top: 51px;
    margin-left: 72px;

}
   


.T5 h5 {
    width: 82px;
    height: 56px;
    font-size: 16px;
    font-weight: 400 ;
    margin-left: 35px ;

    
}

.T5 h6 {
    width: 826px;
    height: 80px;
    font-size: 32px;
    font-weight: 500 ;
    margin-left: 43px ;
    
}


.atua-quad{
    width: 1135px;
    height: 288px;
    border-radius: 10px;
    margin-top:30px ;
    margin-left: 10px;
    display: inline-flex;
    
    
}

.quade{
    width: 268px;
    height: 288px;
    margin-left: 21px;
    border-radius: 10px;
    background-color: #FFFFFF;
    
}

#essencial .quade  {
    background: #304F8C;

    
    border:  0.5px solid;
}

.quad1 h5{
    width: 75px;
    height: 30px;
    color: #FFFFFF;
   
}

.quad1 h2 {
    color: #FFFFFF;  
}

.quad1 h3 {
    color: #FFFFFF;  
}

.quad1 h4 {
    color: #FFFFFF;  
}






.quade h1{
    width: 69px;
    height: 30px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 24px;
    color: #111826;
    
}



.quade h2{
    width: 115px;
    height: 30px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 16px;
    margin-left: 24px;
   
}

.quade h3{
    width: 29px;
    height: 21px;
    font-size: 12px;
    font-weight: 400;
    margin-top: -25px;
    margin-left: 138px;
    
}

.quade h4{
    width: 209px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 37px;
    margin-left: 34px;
    
}

.quade button{
    width: 220px;
    height: 48px;
    border-radius: 8px;
    color: #304F8C;
    background: #FFFFFF;
    border: 1px solid #304F8C;
    margin-top: 24px;
    margin-left: 24px;

}

 #popular button{
    position: absolute;
    width: 137px;
    height: 37px;
    border-radius:100px ;
    color: #304F8C ;
    background: #94F2E9;
    border: none;
    margin-left: 66px ;
    margin-top: -285px;
}

.Final{
    width: 770px ;
    height: 392px;
    border-radius: 13px;
    border: 1px solid #000000;
    background: #EAEDF3;
    margin-top: 77px;
    margin-left: 255px;

}

#aspa img {
    position: absolute;
    width: 68px;
    height: 68px;
    margin-top: -220px ;
    margin-left: 639px ;
   
}


#principal img{
    width: 164.6px;
    height: 175.18px;
    margin-top: 24.82px;
    margin-left: 300px;
    }


    .Final h1 {
        width: 537px ;
        height: 96px;
        font-size: 16px;
        font-weight: 500;
       line-height:32px ;
        margin-top: -140px ;
    }

    #ponto img{
      width:108px ; 
      height: 15px;
      margin-top: 150px;
      margin-left: 331px ;
      
        
    }
    
    .Rodape{
        width: 1280px;
        height: 351px;
        background: #111826;
        margin-top: 96px;
    }
    .rodape1{

        width: 97px;
        height: 226px;
        display: flex;
        flex-direction: column;
        margin-left: 72px;

       
    }

    .rodape1 h1{
        width: 85px;
        height: 40px;
        display: flex;
        font-size: 18px;
        font-weight: 700 ;       
        margin-left: 10px;
        margin-top: 60px;
        color: #FFFFFF;
        
    }
    .rodape1 h2{
        width: 97px;
        height: 40px;
    
        
        font-size: 16px;
        font-weight: 400 ;    
        margin-left: 10px;
        margin-top: 16px;
        color: #FFFFFF;
       
    }

    .rodape2{

        width: 97px;
        height: 226px;
        display: flex;
        flex-direction: column;
        margin-left: 243px;

        
    }

    .rodape2 h1{
        width: 85px;
        height: 40px;
        display: flex;
        font-size: 18px;
        font-weight: 700 ;       
        margin-left: 10px;
        margin-top: -180px;
        color: #FFFFFF;
        
    }
    .rodape2 h2{
        width: 183px;
        height: 40px;
        font-size: 16px;
        font-weight: 400 ;    
        margin-left: 10px;
        margin-top: 16px;
        color: #FFFFFF;
        
    }

    .rodape3{

        width: 97px;
        height: 226px;
        display: flex;
        flex-direction: column;
        margin-left: 72px;

       
    }

    .rodape3 h1{
        width: 85px;
        height: 40px;
        display: flex;
        font-size: 18px;
        font-weight: 700 ;       
        margin-left: 450px;
        margin-top: -404px;
        color: #FFFFFF;
        
    }
    .rodape3 h2{
        width: 100px;
        height: 40px;
    
        font-size: 16px;
        font-weight: 400 ;    
        margin-left: 450px;
        margin-top: 10px;
        color: #FFFFFF;
      
    }

    .rodape4{

        width: 97px;
        height: 226px;
        display: flex;
        flex-direction: column;
        margin-left: 72px;

       
    }

    .rodape4 h1{
        width: 85px;
        height: 40px;
        display: flex;
        font-size: 18px;
        font-weight: 700 ;       
        margin-left: 674px;
        margin-top: -630px;
        color: #FFFFFF;
        
    }
    .rodape4 h2{
        width: 168px;
        height: 40px;
    
        font-size: 16px;
        font-weight: 400 ;    
        margin-left: 674px;
        margin-top: 10px;
        color: #FFFFFF;
      
    }

    .rodape5{

        width: 97px;
        height: 226px;
        display: flex;
        flex-direction: column;
        margin-left: 72px;

       
    }

    .rodape5 h1{
        width: 224px;
        height: 40px;
        display: flex;
        font-size: 18px;
        font-weight: 700 ;       
        margin-left: 910px;
        margin-top: -855px;
        color: #FFFFFF;
        
    }


    .rodape5 button{
        width: 290px;
        height: 40px;
        background: #FFFFFF;
        color: #111826;
        font-size: 14px;
        font-weight: 500 ;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 900px;
        margin-top:20px ;

    }
    .rodape5 button img{
        margin-top: 2px;
        margin-left: 184px;
       
    }

    
    .rodape5 img{
        width: 92px;
        height: 18.59px;
        margin-left: 900px;
        margin-top: 16.4px;
    }


    .rodape6  h1{
      width: 1280px;
      height: 1px;
      background: #FFFFFF;
      margin-top: -830px;
      margin-left: -1px;
        
    }

    .rodape6 h2{
      width: 150px;
      height: 40px;
      color: #FFFFFF;
      font-family: 'Rubik';
      font-style: normal;
      line-height: 40px;
      font-size: 14px ;
      font-weight: 300;
      margin-top:3px ;
      margin-left: 569px ;

    }